
.bgimage {
    background-image: url('../images/back-pao-de-acucar.jpg');
    background-position: center center;
    background-size: cover;
    height: 600px;
}


.color-page{
    background-color: #F1F5F7;

}

.navbar {
    margin-bottom: 0px;
}

.media img {
    width: 180px;
    margin-bottom: 15px;
}

.media-body h3 {
    font-size: 20px;
}

.media-body .cabecalho {
    margin-top: 10px;
}

.formatoImagem {
    border-radius: 6%;
}

.noPaddingLeft {
    padding-left: 0px;
}


/* ---------  Ajustes das 4 fotos da Ilha Grande  ----- */


.media-list {
    padding-right: 20px;
}

.media-body p {
    padding-right: 15px;
}

.altura-da-linha {
    line-height: 8px;
}


/* ---------------------------------------------------- */


@media (max-width: 465px) {
    .jumbotron h2 {
        padding-left: 15px;
        font-size: 25px;
    }
    .jumbotron p {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 17px;
    }
    .media img {
        width: 90px;
        margin-bottom: 6px;
    }
    .media-body h3 {
        font-size: 15px;
    }
    .media-body p {
        font-size: 12px;
    }
    .formatoImagem {
        border-radius: 50%;
    }
}


/* ---------------------------------------------------- */


@media (max-width: 360px) {
    .media-body p {
        display: none;
    }
    .media-body .cabecalho {
        margin-top: 18px;
    }
}


/* ---------------------------------------------------- */

.footer {
    background-color: #e7e7e7;
    color: #333;
    padding: 30px 0;

}
.footer a {
    color: #639bcf;
}
.footer a:hover {
    color: #d8e6f3;
}

#sticky {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}

#img-excursoes{
    max-width:20% !important;

}

.img-format{
    max-width:328px;
    padding-right: 0px;
    padding-left: 0px;
}

a:hover .titulo-excursoes{
    text-decoration: none;
    color:#000;
}
a:hover .subtitulo-excursoes{
    text-decoration: none;
    color:#000;
}


.titulo{
    position: absolute;
    margin-top: -400px;
    margin-left: 50% ;
}

.subtitulo{
    position: relative;
}

.titulo-excursoes{
    position: absolute;
    margin-top: -80%;
    text-align: center;
    margin-left: 20% ;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.subtitulo-excursoes{
    position: absolute;
    margin-top: -70%;
    text-align: center;
    margin-left: 30% ;
    color: white;
}

.central-img{
    margin-left: auto;
    margin-right: auto;
}
@font-face {
    font-family: 'dk_darker_markerregular';
    src: url('dk_darker_marker-webfont.woff2') format('woff2'),
    url('dk_darker_marker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.fonte_titulo{
    font-family: dk_darker_markerregular;
    font-size: 100px;
    color: white;
    text-shadow: 1px 1px 1px #FFF;
    border: 4px
}

.home{
    font-family: dk_darker_markerregular;
    font-size: 50px;
    color: black;
}

.jumbotron_titulo h1{
    font-family: dk_darker_markerregular;
    color:#D52A2A;
}

a #modal {
    text-decoration: underline overline;
    color:#f00;
}

.modal-dialog{
    padding-top:10%;
}

.footer #icon{
    font-size: 50px;
}

#text-rodape{
    padding-top:5%;
}

.footer .container{
    text-align: center;
    font-size: 20px;
    padding: 3%;
}

hr{
    border-top: 1px solid #333;
}

.redesocial{
    background-image: url('../images/facebook.png');
}

.container-excursoes{
  width: 85%;
  overflow: hidden;
}


#corpo-home, #excursoes, #depoimentos{
  margin-top: 70px;
  margin-bottom: 70px;
}

.img-museu{
  max-width: 60%
}

.coluna1>*{
  float: right;
}

.coluna2>p{
  text-align: center;

  max-width: 70%;
}

.coluna2{
  display: inline-block;
  padding-top: 70px;
}

#template{
  margin-bottom: 40px;
}
